<mat-card>
  <mat-card-content>
    <mat-card-title>Пользователь</mat-card-title>
    <mat-card-subtitle>Редактирование пользователя</mat-card-subtitle>
    <div *ngIf="!isLoading">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput type="email" placeholder="E-mail" formControlName="email" name="email">
          <mat-error *ngIf="form.get('email').invalid && form.get('email').touched">
            <span *ngIf="form.get('email').hasError('required')">Введите E-mail</span>
            <span *ngIf="form.get('email').hasError('email')">E-mail должен быть верного формата</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Пароль" formControlName="password" name="password" type="password">
          <mat-error *ngIf="form.get('password').invalid && form.get('password').touched">
            <span *ngIf="form.get('password').hasError('required')">Введите пароль</span>
            <span *ngIf="form.get('password').hasError('minlength')">Пароль должен содержать больше 5 символов</span>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Сохранить</button>
        <button mat-raised-button color="primary" type="reset">Сбросить</button>
        <button mat-raised-button color="warn" type="button" (click)="deleteUser()">Удалить пользователя</button>
      </form>
      <mat-list>
        <mat-list-item>ID - {{ user.ID }}</mat-list-item>
        <mat-list-item>Создан - {{ user.CreatedAt | date:medium }}</mat-list-item>
        <mat-list-item>Изменён - {{ user.UpdatedAt | date:medium }}</mat-list-item>
        <mat-list-item>Права - {{ user.UpdatedAt | date:medium }}</mat-list-item>
        <mat-list-item>Права - {{ user.Privileges['admin'] ? 'Администратор' : 'Обычный сотрудник' }}</mat-list-item>
      </mat-list>
    </div>
    <div class="my-spinner" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
  </mat-card-content>
</mat-card>
